# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

from pprint import pprint

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)
print(g_key)

AIzaSyBQgWp0BU3r_KqJ9wXLIPA69uJJg6HeVb0

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
df = pd.read_csv('Weather_Data.csv')
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,karratha,0,AU,1584317309,75,-20.74,116.85,84.09,13.51
1,yumen,55,CN,1584317310,40,40.28,97.20,27.72,0.31
2,hobart,20,AU,1584317267,58,-42.88,147.33,63.00,5.82
3,castro,7,BR,1584317310,78,-24.79,-50.01,67.95,3.47
4,nikolskoye,82,RU,1584317310,55,59.70,30.79,35.01,8.95

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
figure_layout = {
    'width': '600px',
    'height': '500px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
heatmap_layer = gmaps.heatmap_layer(df[['Lat', 'Lng']], weights=df['Humidity'])
heatmap_layer.max_intensity = df['Humidity'].max()
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
narrowed_city_df = df[(df['Max Temp'] < 80) 
                        & (df['Max Temp'] > 70) 
                        & (df['Wind Speed'] < 10) 
                        & (df['Cloudiness'] == 0)]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
narrowed_city_df = narrowed_city_df.drop('index', axis=1)
narrowed_city_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,taoudenni,0,ML,1584317335,10,22.68,-3.98,73.33,9.35
1,sao joao da barra,0,BR,1584317340,83,-21.64,-41.05,78.80,6.93
2,sharjah,0,AE,1584317166,60,25.36,55.40,75.20,4.70
3,wangaratta,0,AU,1584317380,55,-36.37,146.33,71.01,3.36
4,tagusao,0,PH,1584317387,72,9.19,117.81,78.44,3.65

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
hotel_names = []
hotel_lats = []
hotel_lngs = []

url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
for i in range(len(narrowed_city_df)):
    lat = narrowed_city_df.loc[i, 'Lat']
    lng = narrowed_city_df.loc[i, 'Lng']
    params = {
        'types':'lodging',
        'location':{f'{lat}, {lng}'},
        'radius':5000,
        'key':g_key
    }
    response = requests.get(url, params=params).json()
    try:
        hotel_names.append(response['results'][0]['name'])
        hotel_lats.append(response['results'][0]['geometry']['location']['lat'])
        hotel_lngs.append(response['results'][0]['geometry']['location']['lng'])
    except:
        hotel_names.append(np.nan)
        hotel_lats.append(0)
        hotel_lngs.append(0)
   
df_dict = {
    'Hotel Name': hotel_names,
    'Lat': hotel_lats,
    'Lng': hotel_lngs
}
narrowed_city_df['Hotel Name'] = hotel_names
hotel_df = pd.DataFrame(df_dict)

hotel_df = hotel_df.dropna(how='any')
narrowed_city_df = narrowed_city_df.dropna(how='any')

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
hotel_info

['\n<dl>\n<dt>Name</dt><dd>Pousada Porto De Canoas</dd>\n<dt>City</dt><dd>sao joao da barra</dd>\n<dt>Country</dt><dd>BR</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Swiss Belhotel Sharjah</dd>\n<dt>City</dt><dd>sharjah</dd>\n<dt>Country</dt><dd>AE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Quality Hotel Wangaratta Gateway</dd>\n<dt>City</dt><dd>wangaratta</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n',
 "\n<dl>\n<dt>Name</dt><dd>Shaman's Breath- Beach, Bed & Breakfast</dd>\n<dt>City</dt><dd>tagusao</dd>\n<dt>Country</dt><dd>PH</dd>\n</dl>\n",
 '\n<dl>\n<dt>Name</dt><dd>Savli Resort/Hotel - Shrivardhan</dd>\n<dt>City</dt><dd>srivardhan</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 "\n<dl>\n<dt>Name</dt><dd>Hotel De L'Amitie</dd>\n<dt>City</dt><dd>garoua</dd>\n<dt>Country</dt><dd>CM</dd>\n</dl>\n"]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(border='1px solid black', height='500px', margin='0 auto 0 auto', padding='1px', wiâ€¦